nav{
    font-size: larger;
}

#banner
{
    background-color: #f7f1f7;
    padding-top: 2%;
    
}

.promo-title
{
font-size: 70px;
font-weight: 600;
margin-top: 100px;
font-family: fantasy;

}
.team-title{
  font-family: fantasy;
  font-size: 70px;
}
html{
  height: 100%;
}

body{
background-color: #f7f1f7;
}

